.App {
  background-image: url("img/landscape-blur.jpg");
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Comfortaa', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


h1{
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-weight: 200;
  color: darkslategrey;
  top: 0;
}

.city-list,
.add-city-modal{
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  margin: 20px;
  width: 80%;
  max-width: 350px;
  text-align: center;
  border-radius: 2px;
}

.city-list{
  min-height: 250px;
}

.add-btn{
  background-color: #EEAF32;
  color: white;
  border: none;
  padding: 16px;
  width: 100%;
  font-size: 16px;
  border-radius: 4px;
  margin-top: 10px;
}

.add-city-modal{
  position: relative;
}

.add-city-modal .cancel{
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

input[type="text"] {
  background-color: transparent!important;
  border: none;
  border-bottom: 1px solid darkcyan;
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 2px;
  font-size: 19px;
}

input[type="text"]:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid darkcyan;
  background-color: transparent;
}



ul{
  margin-left: 0;
  padding-left: 0;
  text-align: left;
  list-style-type: none;
  max-height: 356px;
  overflow-y: overlay;
}

li{
  border-bottom: 1px solid darkcyan;
  position: relative;
}
li span.delete{
  position: absolute;
  right: 20px;
  top: 18px;
}

.temperature{
  display: flex;
}

.temperature h2{
  margin-bottom: 5px;
  margin-right: 10px;
}

.humidity{
  font-size: smaller;
}

button{
  cursor: pointer;
}

small{
  margin-bottom: 10px;
}

::-webkit-scrollbar-track
{
  -webkit-box-shadow: none;
  border-radius: 10px;
  background-color: #AAB4B6;
}

::-webkit-scrollbar
{
  width: 6px;
  border-radius: 10px;
  background-color: #AAB4B6;
}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: none;
  background-color: #999;
}

@media only screen and (min-width: 600px) {
  h1{
    font-size: 50px;
  }
}
